@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #302D47;
}

.container-center-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}
.container-center-login main {
  margin-right: 20px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-login main {
    margin: 0 auto;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-login main {
    margin: 0 auto;
  }
}
.container-center-login main header.logo {
  text-align: center;
}
.container-center-login main header.logo h1 {
  font-family: "Lato", sans-serif;
  font-size: 109px;
  font-weight: 900;
  color: white;
  line-height: 1;
}
@media (max-width: 720px) {
  .container-center-login main header.logo h1 {
    font-size: 80px;
  }
}
.container-center-login main header.logo h2 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #BFBFBF;
  margin-bottom: 89px;
  line-height: 1;
}
@media (max-width: 720px) {
  .container-center-login main header.logo h2 {
    font-size: 20px;
  }
}
.container-center-login main .email-login {
  display: flex;
  flex-direction: column;
}
.container-center-login main .email-login input {
  width: 316px;
  height: 40px;
  margin-bottom: 16px;
}
.container-center-login .password-forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}
.container-center-login .password-forget a {
  font-size: 14px;
  color: #BFBFBF;
}
.container-center-login .password-forget .button--purple {
  width: 152px;
  height: 40px;
}
.container-center-login .footer p {
  font-size: 16px;
  color: #BFBFBF;
  margin-bottom: 25px;
}
.container-center-login .footer .button--purple {
  width: 316px;
  height: 40px;
}
.container-center-login .image img {
  width: 700px;
  height: auto;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-login .image img {
    width: 450px;
    height: auto;
    padding: 20px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-login .image img {
    display: none;
  }
}

.container-center-product-page {
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.container-center-product-page .container {
  height: 100vh;
  width: 100vw;
}
.container-center-product-page .container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-bottom: 80px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container header {
    flex-direction: column;
    margin-bottom: 50px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container header {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.container-center-product-page .container header .logo-box {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container-center-product-page .container header .logo-box .logo {
  margin-right: 45px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container header .logo-box .logo {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container header .logo-box .logo {
    margin-bottom: 20px;
  }
}
.container-center-product-page .container header .logo-box .logo h1 {
  font-family: "Lato", sans-serif;
  font-size: 51px;
  color: white;
}
.container-center-product-page .container header .logo-box .logo h2 {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  color: #BFBFBF;
}
.container-center-product-page .container header .logo-box .welcome {
  font-size: 20px;
  color: #BFBFBF;
}
.container-center-product-page .container header .buttons .product-register {
  width: 271px;
  height: 55px;
  margin-right: 16px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container header .buttons .product-register {
    width: 200px;
    height: 40px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container header .buttons .product-register {
    width: 200px;
    height: 40px;
  }
}
.container-center-product-page .container header .buttons .button--red {
  width: 101px;
  height: 55px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container header .buttons .button--red {
    width: 80px;
    height: 40px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container header .buttons .button--red {
    width: 80px;
    height: 40px;
  }
}
.container-center-product-page .container section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0px 74px 70px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container section {
    font-size: 20px;
    margin: 0 0px 50px 20px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container section {
    flex-direction: column;
    align-items: initial;
    margin: 0 0px 50px 20px;
  }
}
.container-center-product-page .container section .my-store {
  font-size: 32px;
  color: white;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container section .my-store {
    font-size: 20px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container section .my-store {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
.container-center-product-page .container section .search {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.container-center-product-page .container section .search input.search {
  width: 375px;
  height: 50px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container section .search input.search {
    width: 300px;
    height: 40px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container section .search input.search {
    width: 300px;
    height: 40px;
  }
}
.container-center-product-page .container section .search .button--purple {
  font-size: 16px;
  width: 131px;
  height: 50px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container section .search .button--purple {
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container section .search .button--purple {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
}
.container-center-product-page .container main .product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container main .product-list {
    justify-content: center;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container main .product-list {
    justify-content: center;
  }
}
.container-center-product-page .container main .product-list .product-list-item {
  background-color: rgba(191, 191, 191, 0.18);
  border-radius: 16px;
  margin: 20px 20px 54px 20px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container main .product-list .product-list-item {
    margin: 20px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container main .product-list .product-list-item {
    margin: 20px;
  }
}
.container-center-product-page .container main .product-list .product-list-item .image {
  width: 200px;
  height: auto;
  margin: 20px auto;
}
.container-center-product-page .container main .product-list .product-list-item .text {
  font-size: 20px;
  color: #BFBFBF;
  margin-left: 36px;
  margin-bottom: 30px;
}
.container-center-product-page .container main .product-list .product-list-item .text :first-child {
  margin-bottom: 17px;
}
.container-center-product-page .container main .product-list .product-list-item .button button {
  width: 131px;
  height: 40px;
  margin: 0 20px 20px 20px;
}
.container-center-product-page .container main .product-list .bg-different {
  background-color: rgba(185, 181, 255, 0.18);
}
.container-center-product-page .container footer {
  text-align: center;
  padding: 50px;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container footer {
    padding: 10px 10px 50px 10px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container footer {
    padding: 10px 10px 50px 10px;
  }
}
.container-center-product-page .container footer .copyright p {
  color: white;
  font-size: 16px;
}
.container-center-product-page .container footer .copyright p::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: #6C63FF;
  display: block;
  margin: 10px auto;
}
.container-center-product-page .container footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.container-center-product-page .container footer .social-media p {
  color: white;
  font-weight: 300;
  font-size: 16px;
  margin-right: 10px;
}
.container-center-product-page .container footer .social-media ul {
  display: flex;
  list-style: none;
}
.container-center-product-page .container footer .social-media ul li {
  padding: 10px;
}
.container-center-product-page .container footer .social-media ul li a {
  color: white;
}
.container-center-product-page .container footer .social-media ul li a i {
  font-size: 25px;
}
.container-center-product-page .container footer .login-page {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .container-center-product-page .container footer .login-page {
    width: 200px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container-center-product-page .container footer .login-page {
    width: 200px;
  }
}
.container-center-product-page .container footer .login-page a {
  color: white;
}

::placeholder {
  font-size: 20px;
  color: #8D8BA4;
  font-weight: 300;
}
@media (min-width: 721px) and (max-width: 1160px) {
  ::placeholder {
    font-size: 14px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  ::placeholder {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

.button--purple {
  background-color: #6C63FF;
  color: #BFBFBF;
  border: none;
  font-size: 20px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .button--purple {
    font-size: 14px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .button--purple {
    font-size: 14px;
  }
}

.button--purple:hover {
  border: 1px solid #6C63FF;
  background-color: #302D47;
  color: white;
  transition: 0.3s;
}

.button--red {
  background-color: #EE4C4C;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 721px) and (max-width: 1160px) {
  .button--red {
    font-size: 16px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .button--red {
    font-size: 16px;
  }
}

.button--red:hover {
  border: 1px solid #EE4C4C;
  background-color: #302D47;
  color: white;
  transition: 0.3s;
}

input {
  border-radius: 7px;
  background-color: #3F3D56;
  outline: none;
  border: none;
  padding: 22px;
  color: #BFBFBF;
  font-size: 16px;
}
input:focus {
  border: 1px solid #6C63FF;
}

/*# sourceMappingURL=style.css.map */
