$background-color: #302D47;
$background-input: #3F3D56;

$primary-color: white;
$text-color: #BFBFBF;
$placeholder-color: #8D8BA4;
$button-color-main: #6C63FF;
$button-color--red: #EE4C4C;

$container-color1: #BFBFBF;
$container-color2: #B9B5FF;

$container-width-login: 1200px;
$container-width-page: 1300px;

$primary-font: 'Poppins', sans-serif;
$secundary-font: 'Lato', sans-serif;