@use '_variables.scss';
@use '_mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$primary-font;
}

body {
    background-color: variables.$background-color;
}

.container-center-login {
    @include mixins.flex-center;
    @include mixins.container-center-login;
    padding: 20px;

    main {
        margin-right: 20px;

        @include mixins.tablet {
            margin: 0 auto;
        }

        @include mixins.mobile {
            margin: 0 auto;
        }

        header.logo {
            text-align: center;

            h1{
                font-family: variables.$secundary-font;
                font-size: 109px;
                font-weight: 900;
                color: variables.$primary-color;
                line-height: 1;

                @include mixins.mobile {
                    font-size: 80px;
                }
            }

            h2 {
                font-family: variables.$secundary-font;
                font-size: 26px;
                font-weight: 400;
                color: variables.$text-color;
                margin-bottom: 89px;
                line-height: 1;

                @include mixins.mobile {
                    font-size: 20px;
                }
            }
        }

        .email-login {
            display: flex;
            flex-direction: column;
            
            input {
                width: 316px;
                height: 40px;
                margin-bottom: 16px;
                }
            }
        }

        .password-forget {
            @include mixins.flex-center;  
            margin-bottom: 58px;

            a {
                font-size: 14px;
                color: variables.$text-color;
            }

            .button--purple {
                width: 152px;
                height: 40px;
            }
        }

        .footer {
            p {
                font-size: 16px;
                color: variables.$text-color;
                margin-bottom: 25px;
            }

            .button--purple {
                width: 316px;
                height: 40px;
            }
        }

        .image {
            img {
                width: 700px;
                height: auto;

                @include mixins.tablet {
                    width: 450px;
                    height: auto;
                    padding: 20px;
                }

                @include mixins.mobile {
                    display: none;
                }
            }
        }
    }

.container-center-product-page {
    @include mixins.container-center-products-page;
    @include mixins.flex-center;
    justify-content: center;

    .container {
        height: 100vh;
        width: 100vw;

        header {
            @include mixins.flex-center;
            margin: 20px;
            margin-bottom: 80px;

            @include mixins.tablet{
                flex-direction: column;
                margin-bottom: 50px;
            }

            @include mixins.mobile{
                flex-direction: column;
                margin-bottom: 50px;
            }

            .logo-box{
                display: flex;
                align-items: center;
                flex-direction: row;                

                .logo {
                    margin-right: 45px;

                    @include mixins.tablet{
                        margin-bottom: 20px;
                    }

                    @include mixins.mobile{
                        margin-bottom: 20px;
                    }

                    h1 {
                        font-family: variables.$secundary-font;
                        font-size: 51px;
                        color: variables.$primary-color;                                            
                    }
    
                    h2 {
                        font-family: variables.$secundary-font;
                        font-size: 11px;
                        color: variables.$text-color;
                    }
                }
    
                .welcome {
                    font-size: 20px;
                    color: variables.$text-color;
                }
            }

            .buttons {                  

                .product-register {
                    width: 271px;
                    height: 55px;
                    margin-right: 16px;

                    @include mixins.tablet{
                        width: 200px;
                        height: 40px;
                    }

                    @include mixins.mobile{
                        width: 200px;
                        height: 40px;
                    }
                }

                .button--red {
                    width: 101px;
                    height: 55px;

                    @include mixins.tablet{
                        width: 80px;
                        height: 40px;
                    }

                    @include mixins.mobile{
                        width: 80px;
                        height: 40px;
                    }
                }           
            }
        }

        section {
            @include mixins.flex-center;
            margin: 0 0px 74px 70px;

            @include mixins.tablet{
                font-size: 20px;
                margin: 0 0px 50px 20px;
            }
        
            @include mixins.mobile{
                flex-direction: column;
                align-items: initial;
                margin: 0 0px 50px 20px;
            }
            
            .my-store {
                font-size: 32px;
                color: variables.$primary-color;

                @include mixins.tablet{
                    font-size: 20px;
                }
            
                @include mixins.mobile{
                    margin-bottom: 15px;
                    font-size: 20px;
                }
            }
            
            .search {
                display: flex;
                flex-direction: row;
                margin-right: 20px;           

                input.search {
                    width: 375px;
                    height: 50px;

                    @include mixins.tablet {
                        width: 300px;
                        height: 40px;
                    }
    
                    @include mixins.mobile {
                        width: 300px;
                        height: 40px;
                    }
                }

                .button--purple {
                    font-size: 16px;
                    width: 131px;
                    height: 50px;
    
                    @include mixins.tablet {
                        width: 100px;
                        height: 40px;
                        font-size: 14px;
                    }
    
                    @include mixins.mobile {
                        width: 100px;
                        height: 40px;
                        font-size: 14px;
                    }
                }
            }            
        }

        main {
            
            .product-list {
                @include mixins.flex-center;
                list-style: none;
                flex-wrap: wrap;

                @include mixins.tablet {
                    justify-content: center;
                }

                @include mixins.mobile {
                    justify-content: center;                    
                }
                
                .product-list-item {
                    background-color: rgba($color: variables.$container-color1, $alpha: 0.18);

                    border-radius: 16px;
                    margin: 20px 20px 54px 20px;

                    @include mixins.tablet {
                        margin: 20px;
                    }
    
                    @include mixins.mobile {
                        margin: 20px;                  
                    }

                    .image {
                        width: 200px;
                        height: auto;
                        margin: 20px auto;
                    }

                    .text {
                        font-size: 20px;
                        color: variables.$text-color;
                        margin-left: 36px;
                        margin-bottom: 30px;

                        :first-child {
                            margin-bottom: 17px;
                        }
                    }

                    .button {

                        button {
                            width: 131px;
                            height: 40px;
                            margin: 0 20px 20px 20px;
                        }
                    }
                }

                .bg-different {
                    background-color: rgba($color: variables.$container-color2, $alpha: 0.18);
                }
            }
        }

        footer {
            text-align: center;
            padding: 50px;

            @include mixins.tablet{
                padding: 10px 10px 50px 10px;
            }

            @include mixins.mobile{
                padding: 10px 10px 50px 10px;
            }
            
            .copyright {
                p {
                    color: variables.$primary-color;
                    font-size: 16px;

                    &::after {
                        content:'';
                        width: 100px;
                        height: 4px;
                        background-color: variables.$button-color-main;
                        display: block;
                        margin: 10px auto;
                    }
                } 
            }

            .social-media {                 
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;    
                
                p {
                    color: variables.$primary-color;
                    font-weight: 300;
                    font-size: 16px;
                    margin-right: 10px;
                }
                
                ul {
                    display: flex;
                    list-style: none;
                    
                    li {
                        padding: 10px;
                        
                        a {
                            color : variables.$primary-color;
                            
                            i {
                                font-size: 25px;  
                            }
                        }
                    }
                }
            } 
            
            .login-page {
                 
                    width: 400px;
                    height: 40px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mixins.tablet{
                        width: 400px;
                    }
        
                    @include mixins.mobile{
                        width: 200px;
                    }
                    
                    a {                        
                        color: variables.$primary-color;
                    }
            }
       }
    }
}

::placeholder {
    font-size: 20px;
    color: variables.$placeholder-color;
    font-weight: 300;   
    
    @include mixins.tablet {
        font-size: 14px;
    }

    @include mixins.mobile {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

.button--purple {
    background-color: variables.$button-color-main;
    color: variables.$text-color;
    border: none;
    font-size: 20px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer; 

    @include mixins.tablet{
        font-size: 14px;
    }

    @include mixins.mobile{
        font-size: 14px;
    }
}

.button--purple:hover {
    border: 1px solid variables.$button-color-main;
    background-color: variables.$background-color;
    color: variables.$primary-color;
    transition: 0.3s;
}

.button--red {
    background-color: variables.$button-color--red;
    color: variables.$primary-color;
    border: none;
    font-size: 20px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;

    @include mixins.tablet{
        font-size: 16px;
    }

    @include mixins.mobile{
        font-size: 16px;
    }
}

.button--red:hover {
    border: 1px solid variables.$button-color--red;
    background-color: variables.$background-color;
    color: variables.$primary-color;
    transition: 0.3s;
}

input {
    border-radius: 7px;
    background-color: variables.$background-input;
    outline: none;
    border: none;
    padding: 22px;
    color: variables.$text-color;
    font-size: 16px;

    &:focus {
        border: 1px solid variables.$button-color-main;
    }
}