@use '_variables.scss';
@use '_mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$primary-font;
}

body {
    background-color: variables.$background-color;
}

.container-center-login {
    @include mixins.flex-center;
    @include mixins.container-center-login;

    main {

        header.logo {
            text-align: center;

            h1{
                font-family: variables.$secundary-font;
                font-size: 109px;
                font-weight: 900;
                color: variables.$primary-color;
                line-height: 1; 
            }

            h2 {
                font-family: variables.$secundary-font;
                font-size: 26px;
                font-weight: 400;
                color: variables.$text-color;
                margin-bottom: 89px;
                line-height: 1;
            }
        }

        .email-login {
            display: flex;
            flex-direction: column;
            
            input {
                width: 316px;
                height: 40px;
                margin-bottom: 16px;
                }
            
                
            }
        }

        .password-forget {
            @include mixins.flex-center;  
            margin-bottom: 58px;

            a {
                font-size: 14px;
                color: variables.$text-color;
            }

            .button--purple {
                width: 152px;
                height: 40px;
            }
        }

        .footer {
            p {
                font-size: 16px;
                color: variables.$text-color;
                margin-bottom: 25px;
            }

            .button--purple {
                width: 316px;
                height: 40px;
            }
        }
    }

.container-center-product-page {
    @include mixins.container-center-products-page;
    @include mixins.flex-center;
    justify-content: center;

    .container {
        height: 100vh;
        width: 100vw;

        header {
            @include mixins.flex-center;
            margin: 20px;
            margin-bottom: 80px;

            .logo-box{
                display: flex;
                align-items: center;
                flex-direction: row;

                .logo {
                    margin-right: 45px;

                    h1 {
                        font-family: variables.$secundary-font;
                        font-size: 51px;
                        color: variables.$primary-color;
                    }
    
                    h2 {
                        font-family: variables.$secundary-font;
                        font-size: 11px;
                        color: variables.$text-color;
                    }
                }
    
                .welcome {
                    font-size: 20px;
                    color: variables.$text-color;
                }
            }

            .buttons {
                .product-register {
                    width: 271px;
                    height: 55px;
                    margin-right: 16px;
                }

                .button--red {
                    width: 101px;
                    height: 55px;
                }           
            }
        }

        section {
            @include mixins.flex-center;
            margin: 0 0 74px 70px;
            
            .my-store {
                font-size: 32px;
                color: variables.$primary-color;
            }
            
            .search {
                display: flex;
                flex-direction: row;
                width: 375px;
                height: 50px;
                margin-right: 18px;
            }

            .button--purple {
                font-size: 16px;
                width: 131px;
                height: 50px;
            }
        }

        main {
            .product-list {
                @include mixins.flex-center;
                list-style: none;
                flex-wrap: wrap;
                
                
                .product-list-item {
                    background-color: rgba($color: variables.$container-color1, $alpha: 0.18);
                    border-radius: 16px;
                    margin-bottom: 54px;

                    .image {
                        width: 200px;
                        height: auto;
                        margin: 20px auto;
                    }

                    .text {
                        font-size: 20px;
                        color: variables.$text-color;
                        margin-left: 36px;
                        margin-bottom: 30px;

                        :first-child {
                            margin-bottom: 17px;
                        }
                    }

                    .button {

                        button {
                            width: 131px;
                            height: 40px;
                            margin: 0 20px 20px 20px;
                        }
                    }
                }

                .bg-different {
                    background-color: rgba($color: variables.$container-color2, $alpha: 0.18);
                }
            }
        }

        footer {
            text-align: center;
            padding: 50px;
            
            .copyright {
                p {
                    color: variables.$primary-color;
                    font-size: 16px;

                    &::after {
                        content:'';
                        width: 100px;
                        height: 4px;
                        background-color: variables.$button-color-main;
                        display: block;
                        margin: 10px auto;
                    }
                } 
            }

            .social-media {                 
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                
                p {
                    color: variables.$primary-color;
                    font-weight: 300;
                    font-size: 16px;
                    margin-right: 10px;
                }
                
                ul {
                    display: flex;
                    list-style: none;
                    
                    li {
                        padding: 10px;
                        
                        a {
                            color : variables.$primary-color;
                            
                            i {
                                font-size: 25px;  
                            }
                        }
                    }
                }
            } 
            
            .login-page {
                 
                    width: 400px;
                    height: 40px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    a {
                        color: variables.$primary-color;
                    }
            }
       }
    }
}

::placeholder {
    font-size: 20px;
    color: variables.$placeholder-color;
    font-weight: 300;    
}

a {
    text-decoration: none;
}

.button--purple {
    background-color: variables.$button-color-main;
    color: variables.$text-color;
    border: none;
    font-size: 20px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer; 
}

.button--purple:hover {
    border: 1px solid variables.$button-color-main;
    background-color: variables.$background-color;
    color: variables.$primary-color;
    transition: 0.3s;
}

.button--red {
    background-color: variables.$button-color--red;
    color: variables.$primary-color;
    border: none;
    font-size: 20px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.button--red:hover {
    border: 1px solid variables.$button-color--red;
    background-color: variables.$background-color;
    color: variables.$primary-color;
    transition: 0.3s;
}

input {
    border-radius: 7px;
    background-color: variables.$background-input;
    outline: none;
    border: none;
    padding: 22px;
    color: variables.$text-color;
    font-size: 16px;

    &:focus {
        border: 1px solid variables.$button-color-main;
    }
}